
  $color-primary: hsl(0, 36%, 70%);
  $color-secundary: hsl(0, 93%, 68%);
  $color-neutral: hsl(0, 6%, 24%);
  $color-gradient1:Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  $color-gradient2:Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
  $font: "Josefin Sans";
