@use "../utlis/_var.scss" as v;

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    place-content: center;
    height: 100vh;
    margin-inline: 3rem;
  }
  .container {
    background-image: url("../../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;

    height: 800px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 100px 1fr;

    .header {
      grid-column: 1/2;
      grid-row: 1/2;
      padding-inline: 10.25rem;
      margin-top: 66px;

      .logo{
        width: 200px;
        height: 37px;
        margin-top: 1.5rem;
        img {
          width: 100%;
        }
      }
    }

    .hero {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    main {
      grid-column: 1/2;
      grid-row: 2/3;

      .main-container {
        padding-inline: 10.25rem;

        .content {
          padding-top: 134px;
          .h1 {
            width: 75%;
            text-align: left;
            margin-inline: 0;
            font-size: 3.125rem;
          }
          p {
            text-align: left;
            margin-inline: 0;
            width: 100%;
            font-size: 1rem;
            line-height: 2rem;
          }
        }

        .form {
          margin-inline: 0;
          width: 28.75rem;         
          

          .container-arrow{
            width: 100px;
            height: 58px;
          }

          input[type="email"]{
            height: 58px;
            
          }

        }
      }
    }
  }
}
